<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container">
    <div class="row">
        <a href="{f:uri.action(action:'index')}" class="btn btn-primary">Index</a>
        <a href="{f:uri.action(action:'index', controller:'Tree')}" class="btn btn-primary">Tree</a>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="row">
        <f:form action="build" controller="Tree" enctype="multipart/form-data">
            <f:form.textarea name="category_tree" />
            <f:form.submit name="sumbit" value="Envoyer"/>
        </f:form>
    </div>
</div>

<script defer>
    const textarea = document.querySelector('textarea')

    textarea.addEventListener('keydown', (e) => {
        if (e.code === "Tab") {
            e.preventDefault()

            textarea.setRangeText(
                '       ',
                textarea.selectionStart,
                textarea.selectionStart,
                'end'
            )
        }
    })
</script>

</body>
</html>