.category {
    cursor: pointer;

    margin-top: 5px;
    margin-bottom: 5px;

    width: 100%;

    background-size: 1em 1em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23fff'%3e%3cpath d='m11.43 8.407-5.64 4.028a.5.5 0 0 1-.79-.407V3.972a.5.5 0 0 1 .791-.407l5.64 4.028a.5.5 0 0 1-.001.814z'/%3e%3c/g%3e%3c/svg%3e");
}

.icon-actions-caret-right {
    padding: 5px;
}
.icon-actions-caret-right:hover {
    transform: scale(1.2);

}

.rotate-right {
    rotate: 90deg;
}

.cat-title {
    padding: 5px;
    border-radius: 5px;
}
.cat-title:hover {
    background-color: #eee;
}

/* SORTABLE*/
/* CSS code */
.sortable-item {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.sortable-ghost {
    opacity: 0.5;
}

.sortable-drag {
    background-color: #e0e0e0;
}



textarea {
    width: 50vw;
    height: 50vh;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.cat-caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.cat-caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.cat-nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.cat-active {
    display: block;
}

.hidden {
    display: none;
}

.cat-icon, .icon-color {
    width: 16px;
    height: 16px;
}

#treeViewerScroll {
    max-height: 50vh;
    overflow-y: scroll;
}

/*
CUSTOM MENU
 */
#customMenu {
    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 5px;

    padding: 5px;
    margin: 0;

    list-style-type: none;

    position: absolute;
    display: none;
    z-index: 999;
}

#customMenu hr {
    color: #ccc;
    margin: 2px 0;
}

#customMenu li {
    padding: 5px;
    border: 1px solid #fff;
}

#customMenu li:not(.disabled) {
    cursor: pointer;
}

#customMenu li:not(.disabled):hover {
    border-radius: 2px;
    background-color: #ffecd9;
    border: 1px solid #f5820d;
}